@font-face {
    font-family: 'HeronSans';
    src: url('HeronSans-Regular.woff2') format('woff2'),
        url('HeronSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HeronSans';
    src: url('HeronSans-Medium.woff2') format('woff2'),
        url('HeronSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HeronSans';
    src: url('HeronSans-SemiBold.woff2') format('woff2'),
        url('HeronSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}