* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HeronSans, sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 84px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 100%;
    width: 1121px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 46px;
    }
}

.button {
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 30px;
    background-color: #CFB16D;
    color: #020202;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 34px;
}

.button.watch-now {
    background-color: transparent;
    color: #fff;
    border: 2px solid #CFB16D;
    margin-right: 45px;
    width: 244px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-popup_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.video-popup_wrap.active {
    visibility: visible;
    opacity: 1;
}

.video-popup_wrap .video-popup iframe {
    position: relative;
    max-width: 100%;
    width: 750px;
    height: 400px;
    outline: none;
}

.video-popup_wrap .close {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: #fff;
}


header {
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

header .left {
    display: flex;
    justify-content: center;
    align-items: center;
}


.current-lang {
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;
    color: white;
}

.lang-switcher:hover .current-lang {
    border-bottom: 1px solid #665736;
}

.presentation-video-thumbnail {
    width: 356px;
    border-radius: 4px;
}

.current-lang span {
    display: inline-block;
    width: 12px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M10.293 0.292969L5.99997 4.58597L1.70697 0.292969L0.292969 1.70697L5.99997 7.41397L11.707 1.70697L10.293 0.292969Z' fill='white'/%3E%3C/svg%3E");
}

.lang-switcher {
    color: #fff;
    position: relative;
    display: flex;
}

.lang-list {
    display: none;
    position: absolute;
    padding-top: 30px;
    z-index: 1;
    min-width: 75px;
}

.lang-list a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
}

.lang-switcher:hover .lang-list {
    display: block;
}


.hero {
    padding-top: 100px;
    background-image: url(images/hero.jpg);
    min-height: 859px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-main {
    display: flex;
    justify-content: space-between;
}

.hero-text-holder {
    max-width: 570px;
}

.hero .pre-title {
    padding-top: 89px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #D0CECE;
}
.hero .pre-title span{
    text-transform: uppercase;
}
.hero .hero-title {
    padding-top: 15px;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.hero .hero-title span {
    color: #E9BC58;
}

.hero .hero-description {
    color: #EDECEC;
}

.hero .button {
    margin-top: 46px;
}

.hero .video-wrap {
    padding-top: 150px;
}
.hero .video:hover{
    cursor: pointer;
}

.hero .video-title {
    padding-top: 10px;
    text-align: center;
    color: #EDECEC;
}

.hero .benefits {
    margin-top: 90px;
    display: flex;
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.hero .benefits-md{
    display: none;
}
.hero .benefit-item {
    padding-top: 20px;
    border: none;
    border-top: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #E2E2E2 0%, rgba(226, 226, 226, 0) 100%);
    margin-right: 20px;
    flex-basis: 100%;
}

.hero .benefit-item:last-child {
    margin-right: 0;
}

.hero-footer-text {
    padding-top: 29px;
    padding-bottom: 24px;
    text-align: center;
    color: #EDECEC;
}


.solutions {
    padding-top: 90px;
    padding-bottom: 45px;
    background-image: url(images/solutions-bg.jpg);
    min-height: 1069px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.solutions-title {
    color: #FCFCFC;
    padding-bottom: 72px;
}

.solutions-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.solutions-items .solutions-item {
    background: radial-gradient(151.64% 120.36% at 47.19% -0.63%, rgba(100, 100, 100, 0.85) 0%, rgba(100, 95, 95, 0) 100%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #EDECEC;
    padding: 30px 25px;
    width: 100%;
    max-width: 23%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.solutions-items .solutions-item:nth-child(5), .solutions-items .solutions-item:nth-child(6) {
    max-width: 48%;
}

.solutions-items .solutions-item img {
    margin-bottom: 20px;
}

.solutions .check {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #EDECEC;
}

.solutions .check img {
    width: 50%;
}

.solutions .check .text {
    width: 50%;
}

.solutions .check .text p {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    padding-bottom: 50px;
}


.clear-benefits {
    padding-top: 80px;
    padding-bottom: 153px;
    background-image: url(images/clear-benefit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.clear-benefits h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    padding-bottom: 50px;
}

.clear-benefit-item {
    max-width: 670px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
}

.clear-benefit-item .img {
    min-width: 84px;
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(49, 49, 49, 0.5);
    border: 2px solid #CFB16D;
    margin-right: 20px;
}

.clear-benefits-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #CFB16D;
}

.clear-benefits-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #EDECEC;
}

.benefits-md .swiper-container{
    overflow: hidden;
}

.project {
    background-image: url(images/project.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    padding-top: 70px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}
.project .container{
    display: flex;
    justify-content: center;
}
.project-wrap {
    height: 353px;
    padding-top: 50px;
    max-width: 930px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(151.64% 120.36% at 47.19% -0.63%, rgba(100, 100, 100, 0.85) 0%, rgba(100, 95, 95, 0) 100%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.project-title {
    max-width: 540px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    color: #EDECEC;

}

.project-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px 0;
    margin: 0 auto;
    color: #999E9F;
}

.project .button {
    margin-bottom: 40px;
}


.involved {
    padding-top: 70px;
    padding-bottom: 125px;
    height: 543px;
    background-image: url(images/involved-shapes.png), url(images/involved-bg.jpg);
    background-position: right, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
}

.involved-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.involved-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    color: #fff;
    max-width: 541px;
}

.involved-subtitle {
    max-width: 474px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #EDECEC;
    padding-top: 50px;
    padding-bottom: 40px;
}


.foundation {
    background-image: url(images/foundation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 615px;
    padding: 70px 0;
}

.foundation-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foundation-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 716px;
}

.foundation-tabs {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 50px 0;
}

.tab {
    width: 30%;
    position: relative;
    top: 15px;
}

.tab div {
    width: 230px;
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 25px;
    background-color: transparent;
    position: relative;
    margin-bottom: 27px;
}

.tab div:before {
    content: url("images/tab-line.png");
    position: absolute;
    left: 0;
}

.tab div:hover {
    cursor: pointer;
}

.tab div.active {
    display: none;
}

.foundation-tab-content {
    border-left: none;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    min-height: 187px;
    padding: 25px;
    background: radial-gradient(151.64% 120.36% at 47.19% -0.63%, rgba(100, 100, 100, 0.85) 0%, rgba(100, 95, 95, 0) 100%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-right: 20px;
}

.foundation-item-title {
    color: #CFB16D;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.foundation-item-subtitle {
    color: #EDECEC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.testimonial {
    background-image: url(images/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 15px;
    min-height: 645px;
}

.testimonial-title {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    max-width: 592px;
    margin: 0 auto;
    padding-bottom: 40px;
    color: #fff;

}

.testimonial .swiper-container {
    position: relative;
    padding-top: 50px;
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial .swiper-slide.swiper-slide-active {
    transition: margin-top ease 0.5s;
    margin-top: -50px !important;
}

.testimonial .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: transparent;
}

.testimonial .swiper-pagination-bullet-active {
    background: #fff;
}

.testimonial-item {
    margin: auto;
    max-width: 412px;
    height: 342px;
    background: radial-gradient(151.64% 120.36% at 47.19% -0.63%, rgba(100, 100, 100, 0.85) 0%, rgba(100, 95, 95, 0) 100%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 33px 38px 58px;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

.testimonial-name {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #fff;
}

.testimonial-text {
    color: #EDECEC;
}

.testimonial .swiper-slide .swiper-slide-next {
    margin-top: 50px !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial .button {
    margin-top: 75px;
}


.register {
    min-height: 456px;
    padding-top: 70px;
    padding-bottom: 80px;
    background-image: url(images/register-img.png), url(images/register.png);
    background-position: right, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
}

.register-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.register-title {
    padding-top: 117px;
    padding-bottom: 30px;
    max-width: 614px;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    color: #EDECEC;
}

.register .button {
    width: fit-content;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(108.24deg, #010102 37.61%, #110A12 91.68%);
}

footer img {
    padding-top: 50px;
    padding-bottom: 45px;
}

footer hr {
    max-width: 1120px;
    width: 100%;
    background-color: #EDECEC;
    opacity: 0.3;
}

footer .footer-links{
    padding-top: 15px;
    padding-bottom: 36px;
}

footer .footer-links a {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #959595;
    margin-right: 20px;
}
footer .footer-links a:last-child{
    margin-right: 0;
}

@media screen and (max-width: 1100px) {
    .solutions-items .solutions-item {
        padding: 30px 25px;
        width: 100%;
        max-width: 48.5%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .solutions-items .solutions-item:nth-child(even) {
        margin-right: 0;
    }

    .solutions-items .solutions-item:nth-child(5), .solutions-items .solutions-item:nth-child(6) {
        max-width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 26px;
        line-height: 33px;
    }

    .hero-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-text-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .hero .pre-title {
        padding-top: 34px;
        font-size: 14px;
        line-height: 21px;
    }
    .hero .hero-title {
        padding-top: 5px;
        padding-bottom: 32px;
        font-size: 45px;
        line-height: 68px;
        text-align: center;
    }
    .hero .hero-description {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
    .hero .button {
        margin-top: 40px;
    }
    .hero .video-wrap {
        padding-top: 30px;
    }
    .hero .video-title {
        padding-top: 10px;
        text-align: center;
        color: #EDECEC;
    }
    .hero .benefits {
        margin-top: 60px;
        display: none;
    }
    .hero .benefits-md{
        margin-top: 60px;
        display: block;
        color: #969696;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding-right: 0;
    }
    .hero-footer-text {
        padding-top: 50px;
        padding-bottom: 0px;
    }


    .solutions {
        padding-top: 50px;
        padding-bottom: 0;
        min-height: 994px;
    }
    .solutions-title {
        padding-bottom: 51px;
    }
    .solutions-items {
        padding: 0 109px;
        padding-bottom: 50px;
    }
    .solutions-items .solutions-item {
        /*max-width: 265px;*/
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .solutions-items .solutions-item:nth-child(5), .solutions-items .solutions-item:nth-child(6) {
        max-width: 100%;
        display: flex;
        align-items: center;
    }
    .solutions-items .solutions-item:nth-child(5) img, .solutions-items .solutions-item:nth-child(6) img {
        margin-bottom: 0px;
        margin-right: 25px;
    }

    .solutions .check {
        min-height: 357px;
    }
    .solutions .check img {
        width: 50%;
    }
    .solutions .check .text p {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 40px;
    }


    .clear-benefits {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .clear-benefits h2 {
        font-size: 26px;
        line-height: 39px;
        padding-bottom: 52px;
    }
    .clear-benefits-items{
        padding: 0 55px;
    }
    .clear-benefit-item {
        max-width: 659px;
        margin-bottom: 30px;
    }
    .clear-benefits-title {
        padding-bottom: 10px;
    }
    .clear-benefits-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #EDECEC;
    }


    .project {
        height: 386px;
        padding: 50px 0;
    }
    .project-wrap {
        height: 286px;
        padding: 40px 40px 33px;
    }
    .project-title {
        max-width: 596px;
        font-size: 18px;
        line-height: 28px;
    }
    .project-subtitle {
        padding: 25px 0 40px;
        text-align: center;
    }
    .project .button {
        margin-bottom: 0px;
    }


    .involved {
        min-height: 671px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 40px;
        background-position: 110% -50px, center;
        background-size: 115%, cover;
    }
    .involved-wrap {
        align-items: center;
    }
    .involved-title {
        font-size: 26px;
        line-height: 39px;
        text-align: center;
    }
    .involved-subtitle {
        max-width: 541px;
        text-align: center;
    }


    .foundation {
        padding: 50px 0 43px;
    }
    .foundation-wrap {
        padding: 0 109px;
    }
    .foundation-title {
        font-size: 26px;
        line-height: 39px;
        max-width: 487px;
    }
    .foundation-tabs {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 57px 0 48px;
    }


    .testimonial {
        padding-top: 50px;
        padding-bottom: 90px;
        min-height: 712px;
    }
    .testimonial .button {
        margin-top: 47px;
    }


    .register {
        min-height: 351px;
        padding: 77px 0;
        background-position: 100px 150px, center;
    }
    .register-title {
        max-width: 362px;
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (max-width: 890px) {
    .solutions-items .solutions-item {
        max-width: 48%;
    }
}

@media screen and (max-width: 720px){
    .solutions-items .solutions-item {
        min-height: 210px;
        max-width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .solutions-items .solutions-item:nth-child(5), .solutions-items .solutions-item:nth-child(6) {
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .solutions-items .solutions-item:nth-child(5) img, .solutions-items .solutions-item:nth-child(6) img, .solutions-items .solutions-item img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    h2 {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
    }
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .button.watch-now{
        width: fit-content;
        height: 38px;
        padding: 11px 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 20px;
    }

    .logo img{
        width: 94px;
        height: 31px;
    }
    .hero-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-text-holder {
        align-items: flex-start;
    }
    .hero .pre-title {
        padding-top: 0px;
    }
    .hero .hero-title {
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
    }
    .hero .hero-description {
        text-align: left;
        font-size: 14px;
        line-height: 22px;
    }
    .hero .button {
        width: 100%;
    }
    .hero .video-wrap {
        padding-top: 60px;
    }
    .hero .video-wrap img{
        max-width: 100%;
    }
    .hero .video-title {
        padding-top: 5px;
    }
    .hero .benefits {
        padding: 0 45px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }
    .hero .benefits-md{
        display: none;
    }
    .hero .benefit-item {
        padding-top: 20px;
        border: none;
        border-top: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #E2E2E2 0%, rgba(226, 226, 226, 0) 100%);
        margin-right: 0px;
        margin-bottom: 55px;
    }
    .hero .benefit-item:last-child {
        margin-right: 0;
    }
    .hero-footer-text {
        padding-top: 42px;
        padding-bottom: 0px;
        line-height: 25px;
    }



    .solutions {
        padding: 40px 0;
        min-height: 1491px;
    }
    .solutions-title {
        padding-bottom: 40px;
    }
    .solutions-items {
        padding: 0 45px;
    }


    .solutions .check {
        min-height: 441px;
    }
    .solutions .check img, .solutions .check .text, .solutions .check .button {
        width: 100%;
    }
    .solutions .check .text p {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 46px;
    }


    .clear-benefits {
        padding: 40px 0;
    }
    .clear-benefits h2 {
        text-align: left;
        padding-bottom: 40px;
    }
    .clear-benefit-item {
        margin-bottom: 20px;
    }
    .clear-benefit-item .img {
        min-width: 60px;
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
    .clear-benefit-item .img img{
        width: 65%;
    }
    .clear-benefits-title {
        font-size: 16px;
        line-height: 24px;
    }
    .clear-benefits-description {
        font-size: 14px;
        line-height: 21px;
    }


    .project {
        height: 434px;
        padding: 40px 0;
    }
    .project-wrap {
        height: fit-content;
        padding: 0;
    }
    .project-title {
        font-size: 16px;
        line-height: 24px;
        padding: 50px 30px 0;
    }
    .project-subtitle {
        padding: 20px 30px 40px;
        text-align: center;
    }
    .project .button {
        width: 100%;
        margin-bottom: 50px;
    }


    .involved {
        height: 558px;
        background-image: url(images/involved-shapes.png), url(images/involved-bg.jpg);
        background-repeat: no-repeat, no-repeat;
        background-position: 75% 0px, center;
        background-size: 200%, cover;
    }
    .involved-title {
        font-size: 24px;
        line-height: 36px;
        color: #fcfcfc;
        text-align: left;
    }
    .involved-subtitle {
        font-size: 14px;
        line-height: 21px;
        padding: 30px 0 40px;
        text-align: left;
    }
    .involved .button{
        width: 100%;
    }



    .foundation {
        min-height: 688px;
        padding: 40px 0;
    }
    .foundation-title {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        color: #FCFCFC;
    }
    .foundation-tabs {
        margin: 30px 0 40px;
    }
    .tab {
        align-self: flex-start;
        margin-left: 65px ;
    }
    .foundation-tab-content {
        min-height: 196px;
        padding: 30px 30px 40px;
        margin-right: 0px;
    }
    .foundation-item-title {
        text-align: left;
        padding-bottom: 15px;
    }
    .foundation-item-subtitle {
        font-size: 14px;
        line-height: 23px;
    }
    .foundation .button{
        width: 100%;
    }


    .testimonial {
        padding: 40px 20px 129px;
    }
    .testimonial .testimonial-title{
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        padding-bottom: 50px;
    }
    .testimonial .swiper-slide.swiper-slide-active {
        margin-top: -50px !important;
    }
    .testimonial-item {
        max-width: 100%;
        height: 362px;
        padding: 30px 35px 55px;
    }
    .testimonial .button{
        width: 100%;
    }


    .register {
        min-height: 513px;
        padding-top: 0px;
        padding-bottom: 38px;
        background-position: 75% -10px, center;
        background-size: 200%, cover;
        display: flex;
        align-items: flex-end;
    }
    .register-title {
        padding: 0 0 30px;
        font-size: 18px;
        line-height: 27px;
    }


    footer .footer-links-ru a{
        font-size: 9px;
    }
    footer a {
        padding-bottom: 24px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 360px) {
    .hero {
        padding-top: 100px;
        background-image: url(images/planet.png), url(images/hero.jpg) ;
        min-height: 859px;
        background-position: 10px 328px, 35%;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, cover;
    }
}
