* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HeronSans, sans-serif;
}
h1 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
    max-width: 834px;
}
h1 span {
    color: #E9BC58;
}
.container {
    max-width: 100%;
    width: 1115px;
    margin: 0 auto;
}
@media screen and (max-width: 1200px){
    .container {
        max-width: 100%;
        /*width: 1115px;*/
        margin: 0 auto;
        padding: 0 46px;
    }
}

.button {
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 30px;
    background-color: #CFB16D;
    color: #020202;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 34px;
    min-width: 229px;
}
.button.watch-now {
    background-color: transparent;
    color: #fff;
    border: 2px solid #CFB16D;
    margin-right: 45px;
    width: 244px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
header .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-lang {
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;
    color: white;
}
.lang-switcher:hover .current-lang{
    border-bottom: 1px solid #665736;
}
.current-lang span {
    display: inline-block;
    width: 12px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M10.293 0.292969L5.99997 4.58597L1.70697 0.292969L0.292969 1.70697L5.99997 7.41397L11.707 1.70697L10.293 0.292969Z' fill='white'/%3E%3C/svg%3E");
}
.lang-switcher {
    position: relative;
    display: flex;
    color: #fff;
}
.lang-list {
    display: none;
    position: absolute;
    padding-top: 30px;
    z-index: 1;
    min-width: 150px;
}
.lang-list a {
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    color: #fff;
}
.lang-switcher:hover .lang-list {
    display: block;
}

main{
    padding-top: 200px;
    padding-bottom: 56px;
    color: #fff;
    min-height:931px;
    background-image: url(images/video-planet.png), url(images/videobg.png);
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: right 180px, center;
    text-align: center;
}
main h1{
    max-width: 854px;
    margin: 0 auto;
}

.video{
    padding-top: 30px;
    padding-bottom: 25px;
}
.video img{
    width: 494px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(108.24deg, #010102 37.61%, #110A12 91.68%);
}
footer img {
    padding-top: 76px;
    padding-bottom: 60px;
}
footer hr {
    max-width: 1120px;
    width: 100%;
    background-color: #EDECEC;
    opacity: 0.3;
}
footer .footer-links{
    padding-top: 15px;
    padding-bottom: 36px;
}
footer .footer-links a {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #959595;
    margin-right: 20px;
}
footer .footer-links a:last-child{
    margin-right: 0;
}
/*VIDEO START*/
.video-popup_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.video-popup_wrap.active {
    visibility: visible;
    opacity: 1;
}

.video-popup_wrap .video-popup iframe {
    position: relative;
    max-width: 100%;
    width: 750px;
    height: 400px;
    outline: none;
}

.video-popup_wrap .close {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: #fff;
}

.video-thumbnail-img {
    cursor: pointer;
    border-radius: 8px;
}

/*VIDEO END*/

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 26px;
        line-height: 39px;
    }
    main{
        min-height: 832px;
        background-position: 300px 450px, center;
    }
    .video{
        padding-top: 30px;
        padding-bottom: 35px;
    }
    .video img{
        height: 279px;
        max-width: 444px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 18px;
        line-height: 24px;
    }
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .button {
        min-width: fit-content;
    }
    .button.watch-now{
        width: fit-content;
        height: 38px;
        padding: 11px 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 20px;
    }

    .logo img{
        width: 94px;
        height: 31px;
    }
    main {
        min-height: 647px;
        background-position: -50px 350px, center;
        background-size: 150%, cover;
    }
    main .button{
        width: 100%;
    }
    .video img{
        height: 205px;
        max-width: 100%;
        width: 315px;
        object-fit: contain;
    }
    footer img{
        width: 145px;
        object-fit: contain;
    }
    footer .footer-links-ru a{
        font-size: 9px;
    }
}
